In [4]:
a=12
b=4.5
print(a+b)

16.5

In [8]:
a="hello world\n"
print(a)

hello world

In [1]:
x=int(input("enter x="))
if x>0 and x%2==0:
    print("the no is positive and even")
elif x>0 and x%2!=0:
    print("the no is positive and odd")
elif x<0 and x%2==0:
    print("the no is negative and even")
else:
    print("the no is negative and odd")

enter x=2
the no is positive and even

In [2]:
for i in range(5):
    print(i,"HELLO SUBHEKSHA")

0 HELLO SUBHEKSHA
1 HELLO SUBHEKSHA
2 HELLO SUBHEKSHA
3 HELLO SUBHEKSHA
4 HELLO SUBHEKSHA

In [3]:
for i in range(1,5):
    print(i,"HELLO SUBHEKSHA")

1 HELLO SUBHEKSHA
2 HELLO SUBHEKSHA
3 HELLO SUBHEKSHA
4 HELLO SUBHEKSHA

In [4]:
for i in range(5,0,-1):
    print(i,"HELLO SUBHEKSHA")

5 HELLO SUBHEKSHA
4 HELLO SUBHEKSHA
3 HELLO SUBHEKSHA
2 HELLO SUBHEKSHA
1 HELLO SUBHEKSHA

In [5]:
for i in range(6,-1,-1):
    print(i,"HELLO SUBBU")

6 HELLO SUBBU
5 HELLO SUBBU
4 HELLO SUBBU
3 HELLO SUBBU
2 HELLO SUBBU
1 HELLO SUBBU
0 HELLO SUBBU

In [10]:
n=int(input("enter n="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n=4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [12]:
for i in range(5):
    x=int(input("enter x="))
    print("you entered",x)

enter x=4
you entered 4
enter x=5
you entered 5
enter x=6
you entered 6
enter x=7
you entered 7
enter x= 0
you entered 0

In [ ]:
s=""
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    s=s+x+"\n"                          
print(s)

In [1]:
s=""
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    s=s+name+" "+phone+"\n"
print(s)

enter n=1
enter name=uhduiew
enter phone=7585
uhduiew 7585

In [6]:
for i in range(5,-1,-1):
    print(i,"hello subbu")

5 hello subbu
4 hello subbu
3 hello subbu
2 hello subbu
1 hello subbu
0 hello subbu

In [11]:
s=""
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    s=s+name+" "+phone+"\n"
print(s)

enter n=2
enter name=dfth
enter phone=4356
enter name=gttr
enter phone=34567
dfth 4356
gttr 34567

In [23]:
x=int(input("enter x="))
for i in range(n):
    print("you entered",x)

enter x=2
you entered 2
you entered 2
you entered 2
you entered 2
you entered 2

In [26]:
s=0
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
print(s)

enter n=3
enter x=1
enter x=2
enter x=2
5

In [39]:
s=""
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    s=s+x+"\n"
    
print(s)

enter n=3
enter x=2
enter x=4
enter x=5
2
4
5

In [40]:
a="Hello World"
for i in a:
    print(i,"hello world")

H hello world
e hello world
l hello world
l hello world
o hello world
  hello world
W hello world
o hello world
r hello world
l hello world
d hello world

In [46]:
a="Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end= "")

Hello World I am Python

In [47]:
a="Hello World! I am Python."
for i in a:
    if i !="." and i !="!":
        print(i,end="")

Hello World I am Python

In [48]:
for i in range(5):
    print(i*"o")

o
oo
ooo
oooo

In [52]:
n=int(input("enter n="))
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")

enter n=10

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [54]:
a = "o"
print(a*(-1))

In [55]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"o")
for i in range(n,0,-1):
    print((n-i)*" ",(2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [2]:
d={"a":"apple","b":"ball","c":"cat","d":"dog"}
print(d)
print(type(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}
<class 'dict'>

In [5]:
print(d["c"])

cat

In [6]:
a = {'a':'apple','b':'Ball','c':'Cat'}
b = {1:1,2:4,3:9}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [8]:
a={'a':'apple','b':'ball','c':'cat'}
c={1:1,2:4,3:9,4:16}
c.update(a)
print(c)

{1: 1, 2: 4, 3: 9, 4: 16, 'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [13]:
a={'a':'apple','b':'ball','c':'cat'}
for i in a:
    print(i,end=" ")

a b c

In [17]:
a={'a':'apple','b':'ball','c':'cat'}
for i in a.values():
    print(i,end=" ")

apple ball cat

In [18]:
a={'a':'apple','b':'ball','c':'cat'}
for i in a.items():
    print(i,end=" ")

('a', 'apple') ('b', 'ball') ('c', 'cat')

In [19]:
d={}
d['a']='apple'
d['b']='ball'
d['c']='cat'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [20]:
a={'a':'apple','b':'ball','c':'cat'}
del d['a']
print(d)

{'b': 'ball', 'c': 'cat'}

In [21]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
b = d.pop('a')
print(b)
print(d)

Apple
{'b': 'Ball', 'c': 'Cat'}

In [22]:
info={'ram':9876635689,'shyam':97854567856}
info

{'ram': 9876635689, 'shyam': 97854567856}

In [25]:
info={'ram':9876635689,'shyam':97854567856}
for i in info:
    print(i,end=" ")

ram shyam

In [27]:
info={'ram':9876635689,'shyam':97854567856}
for i in info.values():
    print(i)

9876635689
97854567856

In [29]:
info={'ram':9876635689,'shyam':97854567856}
for i in info.items():
    print(i,end=" ")

('ram', 9876635689) ('shyam', 97854567856)

In [30]:
info={'ram':9876635689,'shyam':97854567856}
del info['ram']
print(info)

{'shyam': 97854567856}

In [31]:
info = {'Ram':[945667654,9808778765],
        'Shyam':[9845667876,9808778765],
        'Hari':[9845667654,9808778765]}
info

{'Ram': [945667654, 9808778765],
 'Shyam': [9845667876, 9808778765],
 'Hari': [9845667654, 9808778765]}

In [33]:
print(info['Ram'][0])

945667654

In [1]:
d = [{'name':'Ram','age':34,'add':"Kathmandu"},
    {'name':'Shyam','age':66,'add':"Bhaktapur"},
    {'name':'Hari','age':33,'add':"Lalitpur"},
    {'name':'Sita','age':24,'add':"Kathmandu"}]
print(d,end=" ")

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 66, 'add': 'Bhaktapur'}, {'name': 'Hari', 'age': 33, 'add': 'Lalitpur'}, {'name': 'Sita', 'age': 24, 'add': 'Kathmandu'}]

In [3]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc no = ")
    ncell = input("Enter ncell no = ")
    d = {'name':name,'ntc':ntc,'ncell':ncell}
    l.append(d)
    
print(l)

Enter n = 2
Enter name = bscjhb
Enter ntc no = 3874846
Enter ncell no =
Enter name = rfcnjkrfbn
Enter ntc no = 847r82
Enter ncell no = 324
[{'name': 'bscjhb', 'ntc': '3874846', 'ncell': ''}, {'name': 'rfcnjkrfbn', 'ntc': '847r82', 'ncell': '324'}]